.game-details {
  // height: 100%;
  // width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#toggle-game-button {
  width: 15em;
  height: 2em;
}