.game-card{
  text-align: center;
  border: 3px solid rgb(98, 0, 255);;
  border-radius: 10px
}



.cover-image {
  flex-direction: column;
  height: 325px;
  width: 250px;
  max-height: 100%;
  max-width: 100%;
  margin: 10px;
  box-shadow: 5px 10px 8px #888888;
  background-color: #f4f4f9;
  border: 5px solid transparent;
  border-radius: 5px;
}

.game-title {
  color: rgb(98, 0, 255);
  
}